*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
build/ios/Debug-iphonesimulator/ComposeApp.framework/ComposeApp
composeApp/build/bin/iosSimulatorArm64/debugFramework/ComposeApp.framework/ComposeApp
/Users/gilbertopapa/Desenvolvimento/Gemini/composeApp/src/commonMain/composeResources/files/config.json